[Interface]
Address = {{ server_vpn_ip }}
SaveConfig = true
ListenPort = {{ vpn_port }}
PrivateKey = {{ server_private_key }}
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -A FORWARD -o %i -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -D FORWARD -o %i -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE


[Peer]
PublicKey = {{ client_public_key }}
AllowedIPs = {{ client_vpn_ip }}/32
